
<ion-header>
  <ion-navbar>
    <ion-title>
      Animales
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="buscar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="favoritos(juego)">
          <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-buttons end>
        <button ion-button icon-only (click)="buscar()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let mascota of mascotas" col-3>
        <ion-card>
          <img (click)= "verMascota(mascota)" *ngIf ="mascota.ad.hasOwnProperty('thumbnail')"
          src= "https://img.segundamano.mx/cover/{{mascota.ad.thumbnail.path}}">
          <img (click)= "verMascota(mascota)" *ngIf= "!mascota.ad.hasOwnProperty('thumbnail')"
          src="../assets/Animal.jpg">
          <ion-card-content>
            <h2 *ngIf="mascota.ad.hasOwnProperty('list_price')"> {{mascota.ad.list_price.label}}</h2>
            <p *ngIf= "mascota.ad.hasOwnProperty('locations')">{{mascota.ad.locations[0].label}} {{mascota.ad.locations.label}}</p>
          </ion-card-content>
      
        </ion-card>
     
      </ion-col>
    </ion-row>
  </ion-grid>



  <
      
</ion-content>
